@model EmpanadaReviewCS.Models.Restaurant


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div class="restaurant-delete-container">
        <div class="restaurant-delete-title">
            <h3>Are you sure you want to delete this?</h3>
        </div>
        
        <div>
            <h4>Restaurant</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.location)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.location)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.averageRating)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.averageRating)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.createdAt)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.createdAt)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.updatedAt)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.updatedAt)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.imageSrc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.imageSrc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.foodType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.foodType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.hasAllergies)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.hasAllergies)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.restrictions)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.restrictions)
                </dd>

            </dl>

            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.idRestaurant)
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</body>
</html>
