@model EmpanadaReviewCS.Models.Restaurant


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div class="admin-user-delete-container">
        <div class="restaurant-delete-title">
            <h3>Are you sure you want to delete this?</h3>
        </div>

        <div class="admin-user-delete-body">
            <h4>Restaurant</h4>
            <div class="admin-user-delete-items">
                <div class="admin-user-delete-item">
                    <div>
                        @Html.DisplayNameFor(model => model.location)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.location)
                    </div>
                </div>
                <div class="admin-user-delete-item">
                    <div>
                        @Html.DisplayNameFor(model => model.averageRating)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.averageRating)
                    </div>
                </div>
                <div class="admin-user-delete-item">
                    <div>
                        @Html.DisplayNameFor(model => model.name)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.name)
                    </div>
                </div>
                <div class="admin-user-delete-item">
                    <div>
                        @Html.DisplayNameFor(model => model.description)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.description)
                    </div>
                </div>
                <div class="admin-user-delete-item">
                    <div>
                        @Html.DisplayNameFor(model => model.createdAt)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.createdAt)
                    </div>
                </div>
            </div>
            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.idRestaurant)
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="admin-user-delete-button" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>


           


</body>
</html>
