@model EmpanadaReviewCS.Models.Restaurant


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="withh=device-withh" />
    <title>Details</title>
</head>
<body>
    <div>
        <h2 class="restaurant-text">Restaurant</h2>
        <hr />
        <table  class="table-container">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.location)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.averageRating)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.name)

                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.createdAt)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.updatedAt)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.imageSrc)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.foodType)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.hasAllergies)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.restrictions)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayFor(model => model.location)
                </td>

                <td>
                    @Html.DisplayFor(model => model.averageRating)
                </td>

                <td>
                    @Html.DisplayFor(model => model.name)
                </td>

                <td>
                    @Html.DisplayFor(model => model.description)
                </td>

                <td>
                    @Html.DisplayFor(model => model.createdAt)
                </td>

                <td>
                    @Html.DisplayFor(model => model.updatedAt)
                </td>

                <td>
                    @Html.DisplayFor(model => model.imageSrc)
                </td>

                <td>
                    @Html.DisplayFor(model => model.foodType)
                </td>

                <td>
                    @Html.DisplayFor(model => model.hasAllergies)
                </td>

                <td>
                    @Html.DisplayFor(model => model.restrictions)
                </td>
            </tr>
        </table>
    </div>
    <div class="restaurant-button-container">
        <p class="restaurant-card-button restaurant-edit">
            @Html.ActionLink("Edit", "Edit", new { id = Model.idRestaurant })
        </p>
        <p class="restaurant-card-button">
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</body>
</html>
