@model EmpanadaReviewCS.Models.Restaurant


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="withh=device-withh" />
    <title>Details</title>
</head>
<body>
    <div class="profile-container">
        <div class="restaurant-body">
            <div class="profile-title">
                <h4>Restaurant</h4>
            </div>
            <div class="profile-username">
                @Html.DisplayFor(model => model.name)
            </div>
            <div class="profile-info">
                <div class="profile-info-left">

                    <div class="profile-info-item">
                        @Html.DisplayNameFor(model => model.description)
                    </div>
                    <div class="profile-info-item">
                        @Html.DisplayNameFor(model => model.createdAt)
                    </div>
                    <div class="profile-info-item">
                        @Html.DisplayNameFor(model => model.averageRating)
                    </div>
                    <div class="profile-info-item">
                        @Html.DisplayNameFor(model => model.foodType)
                    </div>
                    <div class="profile-info-item">
                        @Html.DisplayNameFor(model => model.hasAllergies)
                    </div>
                    <div class="profile-info-item">
                        @Html.DisplayNameFor(model => model.restrictions)
                    </div>
                </div>
                <div class="profile-info-right">
                    <div class="profile-info-item">
                        @Html.DisplayFor(model => model.description)
                    </div>
                    <div class="profile-info-item">
                        @ViewBag.createdAt
                    </div>
                    <div class="profile-info-item">
                        @Html.DisplayFor(model => model.averageRating) / 5 ⭐
                    </div>
                    <div class="profile-info-item">
                        @Html.DisplayFor(model => model.foodType)
                    </div>
                    <div class="profile-info-item">
                        @if (Model.hasAllergies == 0) {
                            <p>No</p>
                        } else {
                            <p>Yes</p>
                        }
                    </div>
                    <div class="profile-info-item">
                        @Html.DisplayFor(model => model.restrictions)
                    </div>
                </div>

            </div>
            <div class="profile-buttons-container">
                <div class="profile-buttons-bottom">
                    <div>
                        @if ((string)Session["role"] == "admin") {

                            @Html.ActionLink("Edit", "Edit", new { id = Model.idRestaurant })
                        }

                        @Html.ActionLink("Back to List", "Index")

                    </div>
                    </div>
                </div>
            </div>


        </div>


    </div>
    
</body>
</html>
