@model IEnumerable<EmpanadaReviewCS.Models.Restaurant>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="restaurant-container">
        <div class="reviews-header">
            <h1>Restaurants</h1>
            <p class="create-new">
                @Html.ActionLink("Create New", "Create", "", new { @class = "review-card-button" })
            </p>
        </div>

        <div class="restaurant-scroll">
            @foreach (var item in Model)
            {
                <div class="restaurant-card">
                    <div class="review-card-title">
                        @Html.DisplayFor(modelItem => item.location)
                    </div>
                    <div class="review-card-body">
                        <div class="review-card-item">
                            <p>Average Rating</p>
                            @Html.DisplayFor(modelItem => item.averageRating) / 5 ⭐
                        </div>
                        <div class="review-card-item">
                            <p>Name</p>
                            @Html.DisplayFor(modelItem => item.name)
                        </div>
                        <div class="review-card-item">
                            <p>Description</p>
                            @Html.DisplayFor(modelItem => item.description)
                        </div>
                        <div class="review-card-item">
                            <p>Food type</p>
                            @Html.DisplayFor(modelItem => item.foodType)
                        </div>
                        <div class="review-card-item">
                            @if ((string)Session["role"] == "admin") {
                                @Html.ActionLink("Edit", "Edit", new { id = item.idRestaurant }, new { @class = "review-card-button" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.idRestaurant }, new { @class = "review-card-button" })
                            }
                            @Html.ActionLink("Details", "Details", new { id = item.idRestaurant }, new { @class = "review-card-button" })


                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
