<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EmpanadaReview</title>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Styles/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Reviews", "Index", "Review")</li>
                    <li>@Html.ActionLink("Restaurants", "Index", "Restaurant")</li>
                    <li>@Html.ActionLink("Users", "Index", "User")</li>

                </ul>
                <ul class="nav navbar-nav navbar-right">

                    @if (User.Identity.IsAuthenticated) {
                        <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                        <li><label class="navbar-text">@Session["userName"]</label></li>
                    } else {
                        <li>@Html.ActionLink("Register", "Register", "Home")</li>
                        <li>@Html.ActionLink("Login", "Login", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DreamTeam
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
