<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmpanadaReview</title>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Styles/styles.css?1522063943" rel="stylesheet" />
</head>
<body>
    <div class="navbar">
        <div class="nav-container">

            <div class="navbar-header">
                @Html.ActionLink("EmpanadaReview", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-left">
                <div>@Html.ActionLink("Reviews", "Index", "Review")</div>
                <div>@Html.ActionLink("Restaurants", "Index", "Restaurant")</div>

            </div>

            <div class="navbar-right">

                @if (User.Identity.IsAuthenticated) {
                    <a href="/Home/ProfilePage">@Session["userName"]</a>
                    <div>@Html.ActionLink("Logout", "Logout", "Home")</div>
                } else {
                    <div>@Html.ActionLink("Register", "Register", "Home")</div>
                    <div>@Html.ActionLink("Login", "Login", "Home")</div>
                }
            </div>
        </div>
    </div>

    <div class="main-container">
        @RenderBody()
        <hr />

    </div>

    <footer class="footer-container">
        <div class="footer-div">
            <p class="footer-text">&copy; @DateTime.Now.Year - DreamTeam
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
