@model EmpanadaReviewCS.Models.ViewModel.ReviewModel
@{
    ViewBag.Title = "Create";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form action="~/Review/Save" method="post" class="review-edit-container">
        <div class="review-edit-card">
            <div class="review-edit-item">
                <div>
                    <div class="review-edit-item-label">
                        @Html.LabelFor(d => d.idRating)
                    </div>
                    <div class="review-edit-item-input">
                        @Html.EditorFor(model => model.idRating, "", new { @class = "review-edit-item-input" , htmlAttributes = new { @min = "0", @max = "5" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.idRating, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="review-edit-item">
                <div>
                    <div class="review-edit-item-label">
                        @Html.LabelFor(model => model.title)
                    </div>
                    <div class="review-edit-item-input">
                        @Html.EditorFor(model => model.title, "", new { @class = "review-edit-item-input" })
                    </div>
                    @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="review-edit-item">
                <div class="review-edit-item-container">
                    <div class="review-edit-item-label">
                        @Html.LabelFor(model => model.description)
                    </div>
                    <div class="review-edit-item-input">
                        @Html.TextAreaFor(model => model.description, new { @class = "review-edit-item-input" })
                    </div>
                    @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="review-edit-item">
                <div class="review-edit-item-container">
                    <div class="review-edit-item-label">
                        @Html.DropDownListFor(d => d.idRestaurant, ViewBag.Restaurants as IEnumerable<SelectListItem>)
                    </div>
                </div>
            </div>
            <div class="review-edit-item">
                <input type="submit" value="Save" class="review-edit-button" />
            </div>
        </div>
    </form>
</body>
</html>
