@model EmpanadaReviewCS.Models.Review


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div class="admin-user-delete-container">
        <div class="restaurant-delete-title">
            <h3>Are you sure you want to delete this review?</h3>
        </div>

        <div class="admin-user-delete-body">
            <h4>Restaurant</h4>
            <div class="admin-user-delete-items">
                <div class="admin-user-delete-item">
                    <div>
                        @Html.DisplayNameFor(model => model.title)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.title)
                    </div>
                </div>

                <div class="admin-user-delete-item">
                    <div>
                        @Html.DisplayNameFor(model => model.UserEmpanada.userName)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.UserEmpanada.userName)
                    </div>
                </div>
                <div class="admin-user-delete-item">
                    <div>
                        @Html.DisplayNameFor(model => model.createdAt)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.createdAt)
                    </div>
                </div>
            </div>
            <div class="admin-user-delete-item">
                <div>
                    @Html.DisplayNameFor(model => model.updatedAt)
                </div>
                <div>
                    @Html.DisplayFor(model => model.updatedAt)
                </div>
            </div>
            <form action="~/Review/DeleteReview" method="post">
                @Html.HiddenFor(model => model.idReview)
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="admin-user-delete-button" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </form>
        </div>
    </div>
</body>
</html>
