@model EmpanadaReviewCS.Models.Review

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="review-single-container">
        <div class="review-single-card">
            <div class="review-single-header">
                <div class="review-single-title">
                    <div class="review-single-title-item">
                        @Html.DisplayNameFor(model => model.title)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.title)
                    </div>
                </div>
            </div>
            <div class="review-single-info">
                <div class="review-single-info-item">
                    <div>
                        @Html.DisplayNameFor(model => model.UserEmpanada.userName)
                    </div>
                    <div>
                        @ViewBag.UserName
                    </div>
                </div>
                <div class="review-single-info-item">
                    <div>
                        @Html.DisplayNameFor(model => model.likes)
                    </div>

                    <div>
                        @Html.DisplayFor(model => model.likes)
                    </div>
                </div>
                <div class="review-single-info-item">
                    <div>
                        Rating
                    </div>
                    <div>
                        @ViewBag.Rating / 5 ⭐
                    </div>
                </div>
                <div class="review-single-info-item">
                    <div>
                        @Html.DisplayNameFor(model => model.createdAt)
                    </div>
                    <div>
                        @ViewBag.createdAt
                    </div>
                </div>
                @if (Model.createdAt != Model.updatedAt) {
                    <div class="review-single-info-item">
                        <div>
                            @Html.DisplayNameFor(model => model.updatedAt)
                        </div>
                        <div>
                            @ViewBag.updatedAt
                        </div>
                    </div>
                }

            </div>
            <div class="review-single-body">
                <div>
                    @Html.DisplayFor(model => model.description)
                </div>
            </div>
        </div>
        <p>
            @if (User.Identity.IsAuthenticated) {
                if ((int)Session["idUser"] == ViewBag.UserId || (string)Session["role"] == "admin") {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.idReview }, new { @class = "review-single-button" })
                    @Html.ActionLink("Delete", "Delete", new { id = Model.idReview }, new { @class = "review-single-button" })
                }
            }

        </p>
    </div>
</body>
</html>
