@model EmpanadaReviewCS.Models.ViewModel.ReviewModel

@{
    ViewBag.Title = "Edit";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
        <form action="~/Review/Update" method="post" class="review-edit-container">
            <div class="review-edit-card">
                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.idUser)
                    @Html.HiddenFor(model => model.idReview)
                    @Html.HiddenFor(model => model.idRestaurant)
                </div>
                <div class="review-edit-item">
                    <div>
                        <div class="review-edit-item-label">
                            @Html.LabelFor(model => model.title)
                        </div>
                        <div class="review-edit-item-input">
                            @Html.EditorFor(model => model.title, "", new { @class = "review-edit-item-input" })
                        </div>
                        @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="review-edit-item">
                    <div class="review-edit-item-container">
                        <div class="review-edit-item-label">
                            @Html.LabelFor(model => model.description)
                        </div>
                        <div class="review-edit-item-input">
                            @Html.TextAreaFor(model => model.description, new { @class = "review-edit-item-input" })
                        </div>
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="review-edit-item">
                    <input type="submit" value="Save" class="review-edit-button" />
                </div>
            </div>
        </form>
</body>
</html>
