@model IEnumerable<EmpanadaReviewCS.Models.ViewModel.MasterListModel>
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    
    <div class="container" style="display: flex; flex-direction: column; justify-content: center; align-items: center">
        <p>
            @Html.ActionLink("Create New", "Create", "",new { @class = "btn btn-pimary" })
        </p>
        @foreach (var item in Model) {

            <div class="card" style="display: flex; flex-direction: column; background-color: antiquewhite; border-radius: 15px; margin-top: 1rem; padding:1rem; max-width: 60vw">
                <div class="CardTitle">
                    @Html.DisplayFor(modelItem => item.title)
                </div>
                <div class="CardContent" style="display: flex; flex-direction: row; justify-content: center; margin: 0 1rem 0 1rem; padding:1rem">
                    <div style="display: flex; flex-direction: column; margin: 0 1rem 0 1rem; padding:1rem">
                        <p>Creator</p>
                        @Html.DisplayFor(modelItem => item.userName)
                    </div>
                    <div  style="display: flex; flex-direction: column; margin: 0 1rem 0 1rem; padding: 1rem">
                        <p>Likes</p>
                        @Html.DisplayFor(modelItem => item.likes)
                    </div>
                    <div  style="display: flex; flex-direction: column; margin: 0 1rem 0 1rem; padding: 1rem">
                        <p>Restaurant</p>
                        @Html.DisplayFor(modelItem => item.name)
                    </div>
                    
                    @Html.ActionLink("Details", "Details", new { id = item.idReview })
                    
                </div>
            </div>
        }
    </div>
</body>
</html>
