@model IEnumerable<EmpanadaReviewCS.Models.ViewModel.MasterListModel>
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    
    <div class="reviews-container">
        <div class="reviews-header">
            <h1>Reviews</h1>
            @Html.ActionLink("Create New", "Create", "", new { @class = "review-card-button" })
        </div>
            
       
        <div class="reviews-scroll">
            @foreach (var item in Model) {
                <div class="review-card">
                    <div class="review-card-title">
                        @Html.DisplayFor(modelItem => item.title)
                    </div>
                    <div class="review-card-body" >
                        <div class="review-card-item">
                            <p>Creator</p>
                            @Html.DisplayFor(modelItem => item.userName)
                        </div>
                        <div class="review-card-item">
                            <p>Likes</p>
                            @Html.DisplayFor(modelItem => item.likes)
                        </div>
                        <div class="review-card-item">
                            <p>Restaurant</p>
                            @Html.DisplayFor(modelItem => item.name)
                        </div>
                        <div class="review-card-item">
                            @Html.ActionLink("Details", "Details", new { id = item.idReview }, new { @class = "review-card-button" })
                        </div>
                        
                    </div>
                </div>
            }
        </div>
        
    </div>
</body>
</html>
